/* styles */
/* called by your view template*/
@import
url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
font-size: 20px;
margin: 0;
font-family: sans-serif;
}


* {
box-sizing: border-box;
}

body {
font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
margin: 2em;
}

h1,
h2 {
font-family: "Poppins";
}

.bold {
font-weight: 600;
}

.content {
max-width: 600px;
margin: auto;
}

p {
max-width: 600px;
font-weight: 400;
}

footer {
margin: auto;
margin-top: 50px;
padding-top: 25px;
}

a, a:visited {
color: #39ace7;
text-decoration: none;
transition: 0.3s;
}

a:hover {
color: #7fdbff;
text-decoration: none;
transition: 0.3s;
}
